* {
    padding: 0;
    margin: 0;
    outline: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

:root {
    --blue: #0074BC;
    --light-blue: rgba(200, 214, 237, 1);
    --light-red: rgba(220, 149, 150, .8);
    --light-grey: linear-gradient(140.32deg, rgba(128, 153, 193, 0.11) 33.15%, rgba(182, 182, 182, 0.18) 75.57%, rgba(182, 182, 182, 0.22) 97.57%);
    --white-opacity: rgba(255, 255, 255, .8);
    --grey: #97989F;
    --red: #FF4242;
    --white: #fff;
    --dark: #23242A;
    --light-dark: #555555;
    --section-m-bottom: 50px;
    --card-stroke: #E8E8EA;
    --xl-w: 1200px;
    --shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    --radius10: 10px;
    --radius5: 5px;
}

    
.section-full-width {
    width: 100%;
}
.section-semi-width {
    max-width: var(--xl-w);
    margin: 0 auto;
    width: 100%;
    padding: 0 10px;
}

.heading-h2 {
  font-size: 36px;
  font-weight: normal;
  padding-bottom: 30px;
  color: var(--dark);
}

.articles .heading-h2 {
  font-size: 28px;
  padding-bottom: 50px;
}

.heading-h4 {
  font-size: 24px;
  padding-bottom: 20px;
  font-weight: normal;
}

.about-section {
  margin-bottom: 80px;
}


@import './global.css';

.documents-inner {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-items: center;
}

@media(max-width: 980px) {
    .documents-inner {
        grid-template-columns: auto auto auto;
        justify-items: center;
    }
}
@media(max-width: 870px) {
    .documents-inner {
        grid-template-columns: auto auto;
        justify-items: center;
    }
}

@media(max-width: 730px) {
    .documents-inner {
        grid-template-columns: auto auto;
        justify-items: center;
    }
}

@media(max-width: 490px) {
    .documents-inner {
        grid-template-columns: auto;
        justify-items: center;
    }
}

.documents-item {
    -webkit-box-shadow: var(--shadow);
            box-shadow: var(--shadow);
    max-width: 220px;
    width: 100%;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;
}

.document-item-image {
    position: relative;
    cursor: pointer;
    height: 250px;
    overflow: hidden;
}

.document-item-image:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .1);
}

.document-preview img {
    width: 100%;
}

.document-item-info {
    padding: 10px;
}

.document-title {
    font-size: 12px;
    margin-bottom: 10px;
}

.document-hashtag a {
    font-size: 10px;
    color: #999;
    display: inline-block;
    padding: 2px 3px;
    border-radius: 5px;
}

.document-hashtag a:hover {
    color: #c8c8c8;
}
.document-hashtag {
    margin-bottom: 10px;
}

.document-zoom {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -30px;
}
.document-item-image .document-zoom img {
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.document-item-image:hover .document-zoom img {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.document-download {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.document-download-btn {
    color: var(--dark);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    cursor: pointer;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.document-download-btn:hover {
    opacity: .2;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.document-download {
    font-size: 10px;
    color: #999;
}

.documents-search {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 30px;
    max-width: 100%;
    position: relative;
    margin: 30px 0;
}


.documents-search-input {
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 35px;
}

.document-search-label {
    position: absolute;
    z-index: 999;
    top: 12px;
    left: 8px;
    cursor: pointer;
}


.documents-wrapper {
    margin-top: 50px;
}

.documents-wrapper-inner {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

@media(max-width: 890px) {
    .documents-wrapper-inner {
        display: grid;
        grid-template-columns: 1fr 5fr;
    }
}

/*hashtags*/
.document-hashtag-item {
    font-size: 12px;
    color: #999;
    display: inline-block;
    padding: 2px 3px;
    border-radius: 5px;
}

.document-hashtag-item a {
    color: #999;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.document-hashtag-item a:hover {
    color: var(--blue);
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.document-hashtags-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
    margin: 30px 0;
}